*{
    font-family:Verdana, Tahoma, sans-serif;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: #373636;
    color: white;
    font-size: medium;
}

section {
    padding: 10px;
}


/* Header */
.img_logo_header{
    width: 100px;
    height: inherit;
}

.logo_header {
    height: 100px;
    width: 200px;
    margin-right: 10px;
}

header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    background-color: #010d32;
    justify-content: space-between;
    padding: 0 5%;
    height: 4em;
    box-shadow: 1px 1px 4px #1c1c1c;
}

.navigation_header{
    gap: 3em;
    z-index: 2;
}

.navigation_header a{
    text-decoration: none;
    color: #b60000;
    transition: 0.5s;
    font-weight: bold;
}

.navigation_header a:hover{
    color: #fff;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: #b60000;
    cursor: pointer;
    display: none;
}

.btn_icon_header{
    background: transparent;
    border: none;
    color: #b60000;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        background: #010d32;
        height: 100%;
        width: 35vw;
        padding: 3em;
        animation-duration: 1s;
        margin-left: -100vw;
        text-align: center;
    }
    .btn_icon_header{
        display: block;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


.btnMode {
    background: none;
    color: black;
    border: none;
    color: currentcolor;
    }

.btnTamanho {
    background: none;
    border: none;
    color: white;
    font-size: large;
}

.light-mode {
    background-color: #FAF9F9;
    color: black;

}


/* Index */
#carousel {
    padding: 0;
}

.imgIcon{
    max-width: 30%;
    margin: 5px;
}

#preco {
    font-size: xx-large;
    font-weight: bold;
}

h3, h2 {
    color: #95D8FF;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.menu-bar {
    text-align: center;

}

.imgMap {
    max-width: 100%;
}

.cards {
    display: flex;
    padding: 10px;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border-radius: 30px;
    padding: 10px;
    background-color: #000000;
    color: white;
    margin: 5px;
}

.tituloPlanos {
    margin: 50px;;
}

.imgMulher {
    position: relative;
    max-width: 200px;
    right: 64px;
    bottom: 50px;
    height: 220px;
}

.cardHeight {
    height: 200px;
}

.cardPlanos {
    max-width: fit-content;
}

@media screen and (min-width: 950px) {
    .imgMulher {
        position: relative;
        max-width: 200px;
        right: 90px;
        bottom: 50px;
        height: 220px;
    }
    
@media screen and (min-width: 768px) and (max-width: 949px) {
    .imgMulher {
        position: relative;
        max-width: 200px;
        right: 130px;
        bottom: 50px;
        height: 220px;
    }
    
    .txtPlanos {
        position: relative;
        bottom: 200px;
        left: 70px;
    }

    .cardPlanos {
        width: fit-content;
    } 


}
}

.contato {
    padding: 10px;
}

.faleConosco {
    text-align: initial;
}

.btn {
    background-color: #121A89;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}

#planos {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#local {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContato {
    max-width: 50%;
    float: right;
}

footer {
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
}

.logoFooter {
    height: 50px;
    width: 80px;
    margin: 5px;
}

.socialMedia {
    width: 30px;
    padding: 3px;
}


/* cadastro */
#cadastro {
    background-color: rgb(12 1 1);
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#logoCadastro {
    text-align: center;
}

#cadastroBody {
    background-color: #373636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
 }

#cadastrado {
    display: flex;
    flex-direction: column;

}

.sucesso {
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}


 /* login */
#bodyLogin {
    background-color: #373636;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formLogin {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

#login {
    background-color: #181515;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
}

.form-btn {
    margin: 5px;
}

svg {
    margin: 5px;
}


@media (min-width: 690px) and (max-width: 767px) {
    .imgMulher {
        position: relative;
        max-width: 200px;
        right: 220px;
        bottom: 50px;
        height: 220px;;
    }
    
    .txtPlanos{
        position: relative;
        bottom: 200px;
        left: 100px;
    }

    .cardPlanos {
        width: fit-content;
    } 
}
@media (min-width: 585px) and (max-width: 689px){
    .imgMulher {
        position: relative;
        max-width: 200px;
        right: 210px;
        bottom: 50px;
        height: 220px;;
    }
    
    .txtPlanos{
        position: relative;
        bottom: 200px;
        left: 100px;
    }

    .cardPlanos {
        width: fit-content;
    } 
}
@media (max-width: 584px) {
    .cardHeight {
        height: auto;
    }

    .imgMulher {
        position: unset;
        max-width: 200px;
        height: 220px;;
    }
}