*{
    font-family:Verdana, Tahoma, sans-serif;
    font-size: medium;
}

html {
    height: 100%;
}

body {
    background-color: #373636;
    color: white;
}

section {
    padding: 10px;
}

h3, h2 {
    color: #95D8FF;
    font-weight: bold;
}

.menu-bar {
    text-align: center;

}

.cards {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.card {
    border-radius: 30px;
    padding: 10px;
    background-color: #000000;
    color: white;
}

#eventos {
    text-align: center;
}

.contato {
    padding: 10px;
}

.btn {
    background-color: #121A89;
}

#planos {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#local {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
}


/* cadastro */
#cadastro {
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
}
/* #124f7d

#840915

 */

 /* login */
 #bodyLogin {
    background-color: #373636;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

#formLogin {
    display: flex;
    flex-direction: column;
}

 #login {
    background-color: #000000;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .form-btn {
    align-self: center;
 }