*{
    font-family:Verdana, Tahoma, sans-serif;
    font-size: medium;
}

html {
    height: 100%;
}

body {
    background-color: #373636;
    color: white;
}

section {
    padding: 10px;
}

#logoIndex {
    height: 90px;
    width: 250px;
}


#preco {
    font-size: xx-large;
    font-weight: bold;
}

h3, h2 {
    color: #95D8FF;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.menu-bar {
    text-align: center;

}

img {
    max-width: 100%;
}

.cards {
    display: flex;
    padding: 10px;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border-radius: 30px;
    padding: 10px;
    background-color: #000000;
    color: white;
    margin: 5px;
}

#eventos {
    text-align: center;
}

.contato {
    padding: 10px;
}

.btn {
    background-color: #121A89;
    border-radius: 15px;
}

#planos {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#local {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding: 10px;
}


/* cadastro */
#cadastro {
    background-color: rgb(12 1 1);
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* #124f7d

#840915

 */
 #cadastroBody {
    background-color: #373636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
 }

 /* login */
 #bodyLogin {
    background-color: #373636;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 
 #formLogin {
     display: flex;
     flex-direction: column;
     max-width: 60%;
    }
    
#login {
    background-color: #181515;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
 }

 .form-btn {
    align-self: center;
    margin: 5px;
 }

svg {
    margin: 5px;
}

.logoFooter {
    height: 50px;
    width: 80px;
}